.container{
    background-color: lightgray;
opacity: 0.8;
padding-top: 40px;
padding-bottom: 40px;
}
.row{
margin-bottom: 10px;
}
.textArea{
font-size: 12px;
width: 100%;
height: 100px;
}
.price{
font-size: 12px;
margin-top: -9px;
padding-left: 0px;
}